.frmCrypto {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 20px;
  background: rgb(142, 121, 62);
  background: linear-gradient(
    90deg,
    rgba(142, 121, 62, 1) 0%,
    rgba(173, 151, 79, 1) 41%,
    rgba(35, 31, 32, 1) 100%
  );
  border-radius: 15px;
  padding: 20px;
  align-items: center;
}
.frmLabel {
  padding: 10px;
}
.frmInput {
  padding: 10px;
  width: 50%;
  font-size: 20px;
  background-color: #eaeaea;
  border: none;
  border-radius: 10px;
  transition: all 0.5s;
}
.frmInput:focus {
  outline: none;
}
.selectInput {
  width: 54%;
}
.selectInput:focus {
  outline: none;
}
.frmRow {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 10px;
}
@media all and (max-width: 968px) {
  .frmCrypto {
    width: 75%;
  }
  .frmInput {
    width: 50%;
  }
  .selectInput {
    width: 54%;
  }
}
@media all and (max-width: 480px) {
  .frmRow {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .frmInput {
    width: 90%;
  }
}
